.Pricing-container {
  margin-top: 95px;
}

.Pricing-container .custom-tabs {
  flex-direction: column;
  margin-top: 63px;
}

.Pricing-container .custom-tabs .pricing-form{
    display: flex;
    flex-direction: column;
}